/*
 * Dialog Style
 */

.background {
    -fx-background-color: derive(#1d1d1d,50%);
    -fx-padding: 0;
}
.seperator {
	-fx-background-color:  #d8d8d8;
	-fx-pref-height: 1;
	-fx-max-height: 1;
	-fx-min-height: 1;
}
.button {
	-fx-background-color:transparent ;
	-fx-background-radius: 0;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #ffffff #ffffff #ffffff #ffffff;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
}
.button:hover {
	-fx-background-color: #d8d8d8;
	-fx-text-fill: #000000;
	-fx-text-alignment: center;
}
/*
 * Custom Buttons
 */
.buttonDelete {
	-fx-background-color: #cc5c5c;
	-fx-background-radius: 0;
	-fx-border-width: 1;
	-fx-border-color: #ffffff /*transparent #ffffff transparent*/;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
}
.buttonDelete:hover {
	-fx-background-color: #ee4949;
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
}
.buttonSave{
	-fx-background-color: #339933;
}
.buttonSave:hover {
	-fx-background-color: #00b200;
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
}
.label {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
}
.headline {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 18pt;
    -fx-text-fill: #ffffff;
}
.text-field {
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #000000;
	-fx-border-color: #d8d8d8;
	-fx-border-width: 1;
	-fx-background-radius: 0;
	-fx-border-style :solid ;
}
.text-area{
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #000000;
	-fx-border-color: #d8d8d8;
	-fx-border-width: 1;
	-fx-background-radius: 0;
	-fx-border-style :solid ;
}
.text-field:focused {
	-fx-border-color: #000000;
}
.text-area:focused {
	-fx-border-color: #000000;
}
/*
 * Combo Box Style 
 */
.combo-box {
	-fx-border-color: #d8d8d8;
	-fx-border-width: 1;
	-fx-background-radius: 0;
	-fx-border-style :solid ;
	-fx-background-color: #d8d8d8;
}
.combo-box:focused {
	-fx-border-color: #000000;
}
.combo-box-popup {
	-fx-border-color: #000000;
	-fx-border-width:1;
}
/*
 * Checkbox Style
 */
.check-box {
	
}
.check-box .label {
	
}
.check-box .box {
	-fx-border-color: black;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-background-color: #d8d8d8;
}
.check-box .box:focused {
	-fx-border-color: black;
}
.check-box .box:hover {
	-fx-border-color : derive(#1d1d1d,50%);
	-fx-background-color: #ffffff;
}
/*
 * List View Style
 */
.list-view{
	-fx-border-color: #d8d8d8;
	-fx-border-width: 1px;
}
.list-view:focused{
	-fx-border-color: #000000;
	-fx-border-width: 1px;
}
/*
 * List Cell Style
 */
